@import url('vars.css');
@import url('media-queries.css');

body{
    background-color: var(--basic-light);
}
.hero {
    max-width: 100lvw;
    min-height: 100px;
    background-color: var(--basic-dark);
}
.hero__content {
    max-width: 1250px;
    min-height: 750px;
    padding: 7em 25px;
    margin: 0 auto;
    color: var(--basic-light);
    text-align: center;
    background: url('../imgs/general/decor-dark.svg') center 0/80% no-repeat;
}
.hero__text--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5em;
    margin-bottom: 8em;
}
.hero__supertext {
    font-size: 3.8em;
    font-weight: 300;
}
.hero__title {
    font-size: 9.8em;
    font-weight: 700;
}
.hero__description {
    max-width: 530px;
    font-size: 2em;
    line-height: 23px;
    font-weight: 300;
}
.hero__btn {
    font-size: 1.8em;
    max-width: 270px;
    text-wrap: nowrap;

    background-color: var(--basic-blue);
    margin: 0 auto 7em;
    padding: 20px;
    border-radius: 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}
.hero__btn:hover .hero__btn-icon{
    -webkit-transform: translateX(25%);
        -ms-transform: translateX(25%);
            transform: translateX(25%);
}
.hero__btn-icon {
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.hero__scroll-btn {
    font-size: 2.4em;
    color: var(--basic-light);

    margin: 0 auto;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}
.hero__scroll-btn:hover, .hero__scroll-btn:focus{
    -webkit-transform: translateY(15%);
        -ms-transform: translateY(15%);
            transform: translateY(15%);
}
/* hero */

/* info */
.info {
    max-width: 100lvw;
    color: var(--basic-dark-2);
    text-align: center;
    padding-top: 4.5em;
}
.info__content {
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}
.info__title {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.info__cards-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    place-items: center;
    row-gap: 7em;
}
.info__card-link-wrapper:last-child{
    grid-column: 1/-1;
}
.info__card-link-wrapper:nth-child(even) .info__card-body {
    background-color: var(--basic-red);
}
.info__card-link-wrapper:nth-child(even) .info__card {
    -webkit-box-shadow: 0 10px 0px 0px var(--basic-red-2);
            box-shadow: 0 10px 0px 0px var(--basic-red-2);
}
.info__card {
    max-width: 330px;
    min-height: 300px;
    border-radius: 25px;
    background-color: var(--basic-blue);
    -webkit-box-shadow: 0 10px 0px 0px var(--basic-blue-2);
            box-shadow: 0 9px 0px 0px var(--basic-blue-2);
    /* -webkit-filter: drop-shadow(0 0 5px var(--basic-dark-2));
            filter: drop-shadow(0 0 5px var(--basic-dark-2)); */
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.info__card:hover, .info__card:focus-visible{
    -webkit-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
            transform: translateY(-1%);
    /* -webkit-filter: drop-shadow(0 5px 10px var(--basic-dark-2));
            filter: drop-shadow(0 5px 10px var(--basic-dark-2)); */
}
.info__card-link-wrapper:focus .info__card {   
    -webkit-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
            transform: translateY(-1%);
    /* -webkit-filter: drop-shadow(0 5px 10px var(--basic-dark-2));
            filter: drop-shadow(0 5px 10px var(--basic-dark-2)); */
}
.info__card-link-wrapper:focus{
    outline: none;
}
.info__card:active{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    /* -webkit-filter: drop-shadow(0 0 5px var(--basic-dark-2));
            filter: drop-shadow(0 0 5px var(--basic-dark-2)); */
}
.info__card:hover .info__card-icon-wrapper{
    padding: 2em;
}
.info__card:hover .info__card-icon{
    width: 55px;
}
.info__card-link-wrapper:focus .info__card-icon-wrapper{
    padding: 2em;
}
.info__card-link-wrapper:focus .info__card-icon{
    width: 55px;
}
.info__card-header {
    position: relative;
}
.info__card-icon-wrapper{
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 0 25px 0 100%;
}
.info__card-icon {
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
    width: 40px;
    position: relative;
    top: -5px;
    left: 5px;
}
.info__card-img {
    border-radius: 25px 25px 0 0;
}
.info__card-body {
    background-color: var(--basic-blue);
    padding: 3em 2em;
    color: var(--basic-light);
    border-radius: 0 0 25px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
}
.info__card-body-title {
    font-size: 3em;
    font-weight: 600;
    line-height: 35px;
}
.info__card-body-description {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 30px;
}
/* info */