@import url('vars.css');
@import url('media-queries.css');

.hero {
    max-width: 100lvw;
    min-height: 100px;
    background-color: var(--basic-dark);
}
.hero__content {
    max-width: 1250px;
    min-height: 750px;
    padding: 7em 25px;
    margin: 0 auto;
    color: var(--basic-light);
    text-align: center;
    background: url('../imgs/general/decor-dark.svg') center 0/80% no-repeat;
}
.hero__text--block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5em;
    margin-bottom: 8em;
}
.hero__supertext {
    font-size: 3.8em;
    font-weight: 300;
}
.hero__title {
    font-size: 9.8em;
    font-weight: 700;
}
.hero__description {
    max-width: 530px;
    font-size: 2em;
    line-height: 23px;
    font-weight: 300;
}
.hero__btn {
    font-size: 1.8em;
    max-width: 270px;
    text-wrap: nowrap;

    background-color: var(--basic-blue);
    margin: 0 auto 7em;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hero__btn:hover .hero__btn-icon{
    transform: translateX(25%);
}
.hero__btn-icon {
    transition: var(--transition-fast);
}
.hero__scroll-btn {
    font-size: 2.4em;
    color: var(--basic-light);

    margin: 0 auto;
    transition: var(--transition-fast);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hero__scroll-btn:hover{
    transform: translateY(15%);
}