@import url('vars.css');
@import url('media-queries.css');

body{
    background-color: var(--basic-light);
    background-image: url('../imgs/general/decor-light.svg');
    background-repeat: no-repeat;
    background-position: top 200px right;
    background-size: 60vw;
}
.mobile-devider{
    display: none;
}

/* hero */
.hero {
    color: var(--basic-dark-2);
    max-width: 100lvw;
    min-height: 100px;
}
.hero__content {
    max-width: 1250px;
    min-height: 750px;
    padding: 0 25px;
    margin: 0 auto;
}
.hero__text--block {
    padding-top: 20em;
}
.hero__title {
    font-size: 9.6em;
    font-weight: 700;
}
.hero__description {
    font-size: 2em;
    font-weight: 300;
    line-height: 30px;
    max-width: 844px;
    margin: 25px 0 60px 30px;
}
.hero__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 200px;
    text-wrap: nowrap;
    font-size: 1.8em;
    font-weight: 700;
    color: var(--basic-light);
    background-color: var(--basic-dark-2);
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 60px;
}
.hero__btn:hover .hero__btn-icon {
    -webkit-transform: translate(10%, -10%);
        -ms-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
}
.hero__btn-icon {
    width: 25px;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.hero__scroll-btn {
    color: var(--basic-dark-2);
    font-size: 2.4em;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.hero__scroll-btn:hover{
    -webkit-transform: translateY(15%);
        -ms-transform: translateY(15%);
            transform: translateY(15%);
}
/* hero */

/* instructions */
.instructions {
    max-width: 100lvw;
    color: var(--basic-dark-2);
    margin: 5em 0 17em;
}
.instructions p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 25px 0;
}
.instructions__content {
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}
.instructions__title {
    font-size: 3.6em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.instructions__select-btn {
    color: var(--basic-dark-2);
    font-size: 2.5em;
    background-color: var(--basic-light-2);
    padding: 15px 50px 15px 25px;
    background-image: url('../imgs/icons/arrow-2-dark.svg');
    background-position: right 15px center;
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 3px solid var(--basic-dark-2);
    cursor: pointer;
    position: relative;
}
.instructions__select-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 99;
    
}
.instructions__select-option {
    font-size: 2.5em;
    padding: 15px;
    color: var(--basic-light);
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
    background-color: var(--basic-blue);
    visibility: hidden;
    opacity: 0;
    border: 3px solid var(--basic-blue-2);
    border-top: none;
    border-bottom: none;
}
.option-active{
    visibility: visible;
    opacity: 1;
}
.option-selected{
    background-color: var(--basic-blue-2);
}
.instructions__select-option:nth-child(2){
    margin-top: 10px;
    border-radius: 15px 15px 0 0;
    border: 3px solid var(--basic-blue-2);
    border-bottom: none;
}
.instructions__select-option:last-child{
    border-radius: 0 0 15px 15px;
    border: 3px solid var(--basic-blue-2);
    border-top: none;
}
.instructions__select-option:hover {
    font-size: 2.5em;
    padding: 15px;
    background-color: var(--basic-blue-2);
}
.instructions__info--tab{
    -webkit-transition: var(--transition-mid);
    -o-transition: var(--transition-mid);
    transition: var(--transition-mid);
    display: none;
}
.instructions__info--block {
    background-color: var(--basic-light-2);
    margin: 17em 0 -10em;
    text-align: left;
    border: 3px solid var(--basic-blue);
    border-radius: 25px;
    padding: 0 5em;
    position: relative;
}
.instructions__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 2.5em;
    margin-top: -25px;
}
.instructions__header-icon {
    background-color: var(--basic-blue);
    width: 100px;
    padding: 20px;
    border-radius: 20px;
}
.instructions__header-title {
    font-size: 30px;
    font-weight: 800;
}
.instructions__info--body {
    max-height: 10px;
    overflow: hidden;
    -webkit-transition: var(--transition-mid);
    -o-transition: var(--transition-mid);
    transition: var(--transition-mid);
}
.instructions__info-img--block{
    padding: 25px 0;
    margin: 25px 0;
    position: relative;
}
.instructions__info-placeholder-img {
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.instructions__info-placeholder-img:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}
.img-expand__icon{
    position: absolute;
    opacity: 0;
    width: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.instructions__info-img--block:hover .img-expand__icon {
    opacity: 1;
}
.instructions__info-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px auto;
    cursor: pointer;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.instructions__info-btn-text{
    appearance: none;
    font-size: 24px;
    color: var(--basic-dark-2);
}
.instructions__info-btn:hover{
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
}
.instructions__info-btn-active:hover{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
}
.instructions__info-btn-icon{
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.instructions__image-popup{
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: var(--transition-mid);
    -o-transition: var(--transition-mid);
    transition: var(--transition-mid);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.instructions__popup-img-wrapper{
    max-width: 100vw;
    height: auto;
    padding: 0 25px;
    margin: 0 auto;
    gap: 2em;
    position: relative;
}
.instructions__popup-close-btn{
    background-color: var(--basic-light);
    padding: 10px;
    font-size: 2em;
    border-radius: 10px;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.instructions__popup-collapse-icon{
    opacity: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
    z-index: 99;
}
.btn-icon-active{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.img-opened{
    height: 90dvh;
    width: 100%;
}
.instructions__popup-img-wrapper:hover .instructions__popup-collapse-icon{
    opacity: 1;
}
.popup-active{
    visibility: visible;
    opacity: 1;
}
.instructions__cards-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    -webkit-column-gap: 5em;
       -moz-column-gap: 5em;
            column-gap: 5em;
    place-items: center;
}
.instructions__card {
    background-color: var(--basic-light-2);
    text-align: left;
    border: 3px solid var(--basic-red);
    border-radius: 25px;
    padding: 0 5em;
    margin: 17em 0 -10em;
    position: relative;
}
.instructions__card-icon{
    background-color: var(--basic-red);
}
.instructions__card-description {
    padding-bottom: 75px;
}
.instructions__card-btn {
    background-color: var(--basic-red);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    font-size: 2.4em;
    font-weight: 500;
    color: var(--basic-light);
    border-radius: 0 0 20px 20px;
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.instructions__card-btn:hover {
    background-color: var(--basic-red-2);
}
.instructions__card-btn:hover .instructions__card-btn-icon{
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%);
}
.instructions__card-btn-icon {
    -webkit-transition: var(--transition-fast);
    -o-transition: var(--transition-fast);
    transition: var(--transition-fast);
    width: 25px;
}
.tab-active{
    display: block;
}
/* instructions */