@media screen and (max-width:770px) {
    /* header */
    .header__nav-items{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
        background-color: var(--basic-dark-2);

        position: absolute;
        left: 0;
        top: -100%;
        z-index: 10;

        width: 100vw;
        min-height: 100lvh;

        padding: 50px 0 20px;
        font-size: 15px;
        overflow-y: auto
    }
    .menu-active{
        top: 0;
    }
    .drop-down-menu:first-child{
        inset: 0;
    }
    .lang-btn{
        font-size: 20px;
    }
    .item-link{
        font-size: 20px;
        background-color: var(--basic-dark-2);
    }
    .item-link:hover{
        background-color: var(--basic-dark-2);
    }
    .wide{
        font-size: 1em;
        margin-top: 15px;
    }
    .wide .menu-item{
        padding: 10px 0;
    }
    .second{
        text-align: center;
        border-top: 3px solid var(--basic-light);
        padding-top: 30px;
    }
    .second:after{
        top: 30px;
        right: -30px;
    }
    .drop-down-menu:hover > .wide{
        padding: 0em;
    }
    .page-active{
        border-left: 3.5px solid var(--basic-light);
        padding-left: 0.5em;
    }
    .page-active:before{
        background: none;
    }
    .menu-open__btn{
        display: block;
    }
    .menu-close__btn{
        display: block;
        position: absolute;
        top: 27px;
        right: 22px;
    }
    .menu-close-icon{
        width: 25px;
    }
    /* header */

    /* hero */
    .hero__content {
        background-position: center 50px;
    }
    /* hero */

    /* contacts */
    .contacts__content {
        padding: 3em 25px 5em;
    }
    .contacts__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 4em;
        gap: 2.5em;
    }
    .contacts__decor-line {
        display: none;
    }
    /* contacts */
}

@media screen and (max-width:550px){
    /* hero */
    .hero{
        min-height: 500px;
    }
    .hero__content{
        min-height: 100%;
    }
    .hero__supertext {
        font-size: 2.4em;
    }
    .hero__title {
        font-size: 4.8em;
    }
    .hero__description {
        font-size: 2em;
    }
    .hero__btn {
        max-width: 220px;
        padding: 15px;
        font-size: 1.4em;
        margin-bottom: 5em;
    }
    .hero__scroll-btn {
        font-size: 1.8em;
        gap: 0;
    }
    .hero__scroll-icon {
        max-width: 25px;
    }
    /* hero */

    /* info */
    .info__cards-container{
        display: flex;
        flex-direction: column;
    }
    /* info */

    /* faq */
    .faq__title {
        font-size: 2.4em;
    }
    .faq__question {
        padding: 2em;
        border-radius: 15px;
    }
    .faq__question-title {
        font-size: 2em;
    }
    .faq__question-cross-icon {
        width: 30px;
    }
    .faq__question-text {
        font-size: 1.6em;
        line-height: 25px;
    }
    /* faq */

    /* contacts */
    .contacts__title {
        font-size: 3.6em;
    }
    .contacts__btn {
        max-width: 245px;
        height: 55px;
    }
    .contacts__btn-text {
        font-size: 2.4em;
    }
    .contacts__btn-img {
        max-width: 27px;
    }
    .contacts__body {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        place-items: center;
    }
    .contacts__column {
        text-align: center;
    }
    .contacts__column-title {
        font-size: 2em;
    }
    .contacts__column-text {
        font-size: 2.5em;
    }
    .contacts a[href^="tel"]{
        font-size: 2em;
    }
    /* contacts */

    /* footer */
    .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__nav {
        padding: 0;
    }
    .footer__socials {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1em;
        place-items: center;
        margin: 4em 0;
    }
    .footer__rights {
        text-align: center;
        line-height: 20px;
    }
    /* footer */
}

@media screen and (max-width:300px){
    /* fixed adaptivity */
    body {
        width: 100%;
        min-width: 300px;
        margin: 0 auto;
        /* overflow-x: hidden; */
    }
    .header, .hero, .info, .faq, .contacts, .footer{
        min-width: 300px;
    }
    .menu-open__btn{
        position: static;
    }
    /* fixed adaptivity */
}