:root {
  --basic-light: #F1F3F6;
  --basic-light-2: #DDE0E5;
  --basic-dark: #272A2D;
  --basic-dark-2: #191A1C;
  --basic-red: #EE1D23;
  --basic-red-2: #A53C22;
  --basic-blue: #13447E;
  --basic-blue-2: #10325B;
}